$green: #9ACE33;
$logoFill: #D2D800;
$blue: #3F4F6A;
$blue_header: #003A69;
$orange: #EE7C2D;
$bcg: #E5E5E5;
$white: #FFFFFF;

$desktop: 1200px;
$desktop1024: 1024px;
$laptop: 992px;
$tablets: 768px;
$phones:480px;
$phones360:360px;
$phones320: 320px;
